<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <title>Welcome to TruckStop</title>

    <link rel="stylesheet" type="text/css" href="assets/css/social-buttons.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="assets/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style1.css" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<--<body onpageshow="getLocation()">-->
<!--body>
    <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="navbar-brand"><b>TruckStop</b></h1>
        </div>
        <form id="login" method="post">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><input type="text" class="form-control form-control-header" id="exampleHeaderInputName" name="emailID" placeholder="Username"></li>
                    <li><input type="password" class="form-control form-control-header" id="exampleHeaderInputPassword" name="passwd" placeholder="Password"></li>
                    <input id = "currentlatitude" type = "hidden" name="currentlatitude">
                    <input id = "currentlongitude" type = "hidden" name="currentlongitude">
                    <li><button type="button" class="btn btn-warning btn-header" id="btnlogin" onclick="formSubmit()">LOGIN</button></li>
                </ul>
            </div><!--/.nav-collapse -->
        </form>
    </div>
</div>

<div id="headerwrap">
    <ul class="cb-slideshow">
        <li>
            <span>Image 01</span>
            <div>
                <h3>
                </h3>
            </div>
        </li>
        <li>
            <span>Image 02</span>
            <div>
                <h3></h3>
            </div>
        </li>
        <li><span>Image 03</span><div><h3></h3></div></li>
        <li><span>Image 04</span><div><h4></h4></div></li>
        <li><span>Image 05</span><div><h4></h4></div></li>
        <li><span>Image 06</span><div><h4></h4></div></li>
    </ul>
    <div class="container">
        <div class="row">
            <div id="socialmedia" style="position: fixed; margin-left: -90px;">
                <button class="btn btn-facebook" type="button" onclick="gotoFacebook()"><i class="fa fa-facebook"></i></button><br>
                <button class="btn btn-twitter"><i class="fa fa-twitter" onclick="gotoTwitter()"></i></button><br>
                <button class="btn btn-pinterest"><i class="fa fa-pinterest" onclick="gotoPintreset()"></i></button><br>
                <button class="btn btn-instagram"><i class="fa fa-instagram" onclick="gotoInstagram()"></i></button><br>
                <button class="btn btn-google-plus"><i class="fa fa-google-plus" onclick="gotoGooglePlus()"></i></button>
            </div>
            <a href="#signupdiv">
                <h1 style="text-align: center; margin-top: 300px; font-weight: 900">CLICK HERE TO JOIN</h1>
            </a>
            </h1>
        </div>
    </div>

<div id="signupdiv" class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <br>
            <h1 class="control-label">Don't have an account,<br/>
                join us now.</h1>
            <form id="signupform" method="post" class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Enter your First Name" name="firstName">
                    <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter your Last Name" name="lastName">
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your Email Address" name="emailAddress">
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter your Password"  name="password">
                    <br>
                    <div class="">
                        <h6 class="lblradioquestion">Own a FoodTruck?</h6>
                    </div>
                    <div class="">
                        <div class="radio">
                            <h6 class="lblradioquestion">
                                <input type="radio" name="truckOwner" id="optionsRadios1" value="Yes" >
                                Yes
                            </h6>
                        </div>
                        <div class="radio">
                            <h6 class="lblradioquestion">
                                <input type="radio" name="truckOwner" id="optionsRadios2" value="No" checked="">
                                No
                            </h6>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning btn-lg joinbtn" onclick="joinNowSubmit()">JOIN NOW</button>
                <input id = "latitudeText" type = "hidden" name="latitude">
                <input id = "longitudeText" type = "hidden" name="longitude">
            </form>
        </div><!-- /row -->
    </div><!-- /row -->
</div><!-- /container -->

<div class="container">
    <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
        </div>
        <div class="col-lg-3"></div>
    </div><!-- /row -->
    <hr>
</div><!-- /container -->

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
        </div>
    </div><!-- /row -->
</div><! --/container -->

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-12">
            <h1 style="color: #ffffff; font-weight: bolder">OUR AWESOME TEAM FOOD-TRUCK LOVERS</h1>
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img class="img-circle" src="assets/img/Varun.jpg" width="140" height="130" alt="">
            <h4 style="color: white;">VARUN RISBUD</h4>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="assets/img/Kunal.jpg" width="140" height="130" alt="">
            <h4 style="color: white;">KUNAL BORKAR</h4>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="assets/img/Nupoor.jpg" width="140" height="130" alt="">
            <h4 style="color: white;">NUPOOR KOTASTHANE</h4>
        </div><!--/col-lg-4 -->
    </div>
    <div class="row mt centered">
        <div class="col-lg-4 col-lg-push-2">
            <img class="img-circle" src="assets/img/Apurva.jpg" width="140" height="130" alt="">
            <h4 style="color: white;">APURVA DIXIT</h4>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4 col-lg-push-2">
            <img class="img-circle" src="assets/img/Sameer.jpg" width="140" height="130" alt="">
            <h4 style="color: white;">SAMEER RANADE</h4>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

<div class="container">
    <hr>
    <p class="footer centered" style="font-weight: bolder;">©2014 TruckStop &nbsp; &nbsp;Created by sAaPkUnUvA</p>
    <p class="footer centered" style="font-weight: bolder;"></p>
</div><!-- /container -->
</div><!-- /headerwrap -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.86080.js"></script>
<script type="text/javascript">
    function gotoFacebook(){
        window.open("http://www.facebook.com/");
    }
    function gotoGooglePlus(){
        window.open("http://www.plus.google.com/")
    }

    function gotoTwitter(){
        window.open("http://www.twitter.com/")
    }
    function gotoInstagram(){
        window.open("http://www.instagram.com/")
    }
    function gotoPintreset(){
        window.open("https://www.pinterest.com/")
    }
    function formSubmit(){
        if($("#exampleHeaderInputName").val() == "") {
            $("#exampleHeaderInputName").addClass("errorClass");
            $("#exampleHeaderInputName").attr('placeholder', "Incorrect UserName");
            $("#exampleHeaderInputName").addClass("errorplaceHolder");

        }
        if($("#exampleHeaderInputPassword").val() == ""){
            $("#exampleHeaderInputPassword").addClass("errorClass");
            $("#exampleHeaderInputPassword").attr('placeholder', "Incorrect Password");
            $("#exampleHeaderInputPassword").addClass("errorplaceHolder");
        }
        else {
            document.forms["login"].submit();
        }
    }
    function joinNowSubmit(){
        if($("#exampleInputName").val() == "") {
            $("#exampleInputName").addClass("errorClass");
            $("#exampleInputName").attr('placeholder', "Please fill First Name");
            $("#exampleInputName").addClass("errorplaceHolder");
        }
        if($("#exampleInputLastName").val() == "") {
            $("#exampleInputLastName").addClass("errorClass");
            $("#exampleInputLastName").attr('placeholder', "Please fill Last Name");
            $("#exampleInputLastName").addClass("errorplaceHolder");
        }
        if($("#exampleInputEmail").val() == "") {
            $("#exampleInputEmail").addClass("errorClass");
            $("#exampleInputEmail").attr('placeholder', "Please fill Email Address");
            $("#exampleInputEmail").addClass("errorplaceHolder");
        }
        if($("#exampleInputPassword").val() == "") {
            $("#exampleInputPassword").addClass("errorClass");
            $("#exampleInputPassword").attr('placeholder', "Please fill Password");
            $("#exampleInputPassword").addClass("errorplaceHolder");
        }
        else {
            document.forms["signupform"].submit();
        }
    }
    function showLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var lat = document.getElementById('latitudeText');
        lat.value = latitude;
        var longi = document.getElementById('longitudeText');
        longi.value = longitude;
        var currentlat = document.getElementById('currentlatitude');
        currentlat.value = latitude;
        var currentlongi = document.getElementById('currentlongitude');
        currentlongi.value = longitude;
    }

    function errorHandler(err) {
        if(err.code == 1) {
            alert("Error: Access is denied!");
        }else if( err.code == 2) {
            alert("Error: Position is unavailable!");
        }
    }
    function getLocation(){

        if(navigator.geolocation){
            // timeout at 60000 milliseconds (60 seconds)
            var options = {timeout:60000};
            navigator.geolocation.getCurrentPosition(showLocation,
                    errorHandler,
                    options);

        }else{
//            alert("Sorry, browser does not support geolocation!");
        }
    }
</script>
</body>
</html>